{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('player') }}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block header %}
  Playing: {{ title }}
{% endblock %}

{% block title %}Player{% endblock %}

{% block body %}
  <div id="player" data-id="{{ id }}" data-reload="{{ reload }}"></div>
{% endblock %}
