{% extends 'base.html.twig' %}

{% block title %}Hello {{ name }}!{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('queue') }}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block header %}
  <div id="playing" data-playing="{{ playing }}"></div>
{% endblock %}

{% block body %}
  <center>
    <div id="hint"></div>
    <div id="queue" data-entries="{{ entries }}" data-button="{{ name }}" ></div>
  </center>
  <div id="add" data-name="{{ name }}"></div>
{% endblock %}
