{% extends 'base.html.twig' %}

{% block title %}Enter Name{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('index') }}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block header %}
  <h1>Music System</h1>
{% endblock %}

{% block body %}
<div id="NameForm"></div>
{% endblock %}
