{% extends 'base.html.twig' %}

{% block title %}Hello AddController!{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('add') }}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block header %}
  Add Entry
{% endblock %}

{% block body %}
  <div id="addEntry" data-entries="{{ entries }}" data-name="{{ name }}"></div>
{% endblock %}
