<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container-fluid">
          {% if name is defined %}
            <a class="navbar-brand" href="/queue/{{ name }}"><img src="/media/logo.svg" height="30"/></a>
          {% else %}
            <a class="navbar-brand" href="/"><img src="/media/logo.svg" height="30"/></a>
          {% endif %}
          <div class="navbar-right" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
              {% if name is defined %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">hey <u>{{ name }}</u></a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/player"><span id="loginIcon"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="bg-dark text-light" id="header">
        <center>
          <h1>{% block header %}{% endblock %}</h1>
        </center>
      </div>

      <div class="container">
        {% block body %}{% endblock %}
      </div>
    </body>
</html>
